<div class="topPage">
  <div class="taskWrapper">
    <% @tasks.each do |task| %>
      <div class="task">
        <div class="task_header">
          <h2 class="task_header_title"><%= task.title %> 様</h2>
          <div class="task_header_action">
            <%= link_to(content_tag(:i,'', class: 'fas fa-pen'), edit_task_path(task))%>
            <%= link_to(content_tag(:i,'', class: 'fas fa-trash'), task_path(task), method: :delete, data: { confirm: "#{task.title}を削除して大丈夫ですか？" }) %>
          </div>
        </div>
        <div class="cardWrapper">
          <% task.cards.each do |card| %>
            <%= link_to task_card_path(task, card), class: "cardDetail_link" do %>
              <div class="card">
                <h3 class="card_title"><%= card.title %></h3>
                <% if card.memo.size > 0 %>
                  <div class="card_detail is-exist"><i class="fas fa-bars"></i></div>
                <% end %>
              </div>
            <% end %>
          <% end %>
          <div class="addCard">
            <i class="far fa-push-square"></i>
            <%= link_to "カードを追加", new_task_card_path(task), class: "addCard_link" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="chatWrapper">
    <h1>Chat Area</h1>
    <div id='messages'>
      <%= render @messages %>
    </div>
  </div>
  <div class="form">
    <div>
     <%= text_field_tag :content, nil, data: { behavior: 'room_speaker' }, class: "form-input" %>
    </div>
    <div class=" form-message">
      <%= label_tag :content, '入力後Enterを押してください' %>
    </div>
  </div>
</div>