<div class="cardnewPgae">
  <div class='container'>
    <%= form_with model: @card, url: { action: :create }, html: { class: 'cardnewForm' }, local: true do |f| %>
      <%= f.hidden_field :task_id, value: @task.id %>
      <% if @card.errors.any? %>
        <p class="text-danger">タイトルは1～255文字以内で入力してください</p>
      <% end %>
      <div class="cardnewForm_title">
       <%= f.label :患者名 %>
        <%= f.text_field :title, autofocus: true, class: "form-control", placeholder: "必須" %>
      </div>
      <div class="cardnewForm_address">
        <%= f.label :住所 %>
        <%= f.text_field :address, autofocus: true, class: "form-control", placeholder: "必須" %>
      </div>
      <div class="cardnewForm_memo">
        <%= f.label :memo %>
        <%= f.text_area :memo, autofocus: true, class: "form-control", placeholder: "詳細" %>
      <div class="text-center"><%= f.submit "作成する", class: "submitBtn" %></div>
      </div>
    <% end %>
  </div>
</div>